body{
    margin: 0px;
    padding: 0px;
}
/* main container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 94%);
   
}
.box{
    display: flex;
    flex-direction: column;
    padding: 2% 4%;;
    width: 31vw;
    border-radius: 13px;
    border-bottom-right-radius: 39%;
    background-color: white;
    box-shadow: 4px 4px 8px;
}
.para{
    margin-bottom: 0px;
    margin-left: 6%;
}
/* input section */

.input-box{
    display: flex;
    flex-wrap: wrap;
}
.input{
    font-size: 23px;
    margin-right:3rem;
    width: 4.5em;
    height: 3rem;
    border: 3px solid gainsboro;
    font-weight: 600;
    padding-left: 5%;
    border-radius: 10px;
    
}


.title{
    font-size: 87px;
    font-weight: bolder;
    margin: 0px ;
    padding: 0px;
}
.line{
   
    margin-top: 11%;
    width: 90%;
   
    border: 1px solid gainsboro;
   
}
/* button section */
.btn-box{
    position: relative;
}
.btn{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: blue;
    position: absolute;
    left: 80%;
    top: 40%;

}
.btn:hover{
background-color: brown;   
 cursor: pointer;
}
/* responsive site */

#yearnum,#daynum,#monthnum{
    color: blue;
}
@media(max-width:1050px){
   .box{
    width: 60vw;
   } 
}
@media(max-width:550px){
    .box{
     width: 90vw;
    } 
    .btn{
        left: 30%;
    }
    .titlebox{
        margin-top: 5%;
    }
 }